{% extends "base.html" %}

{% block content %}

<div class="container">
  <h1>{{ name }}</h1>
</div>
<br>

<div class="container">
  <img src="{{ iconUri }}" alt="Icon of {{ name }}">
</div>
<br>

<div class="container">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">id</th>
          <td>{{ id }}</td>
        </tr>
        <tr>
          <th scope="row">Short Name</th>
          <td>{{ shortName }}</td>
        </tr>
        <tr>
          <th scope="row">Source</th>
          <td>{{ source }}</td>
        </tr>
        <tr>
          <th scope="row">Description</th>
          <td>{{ description }}</td>
        </tr>
        <tr>
          <th scope="row">Is Featured</th>
          <td>{{ isFeatured }}</td>
        </tr>
        <tr>
          <th scope="row">Features</th>
          <td>{{ features }}</td>
        </tr>
        <tr>
          <th scope="row">Stored Progress</th>
          <td>{{ storedProgress }}</td>
        </tr>


      </tbody>
    </table>
</div>
{% endblock content %}